<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<pwaredirect>
			<config>
				<is_enabled>0</is_enabled>
				<redirect_url/>
			</config>
		</pwaredirect>
	</default>
</config>
